<div class="col-4" >
  <div>
    <h2>Notifications</h2>
  </div>

  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>コンテンツ</th>
        <th>表示期間</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @notifications.each do |notification| %>
        <tr>
          <td><%= notification.title %></td>
          <td><%= notification.content %></td>
          <td>
            <%= notification&.start_datetime&.strftime("%Y/%m/%d %H:%M") %> ~ <%= notification&.end_datetime&.strftime("%Y/%m/%d %H:%M") %>
          </td>
          <td><%= display_notification_status(notification) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= link_to "新規作成", new_admin_notification_path %>
  </div>
</div>
