<div>
  <div>
    <h2>AppUser show</h2>
  </div>
  <div>

    <div>
      <%= link_to "編集", edit_admin_app_user_path(@app_user) %>
    </div>
    <% if @app_user&.errors.present? %>
      <% errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
    
    <div>
      <%= @app_user.email %>
    </div>
    <div>
      <%= @app_user.nickname %>
    </div>
    <div>
      <% # TODO: 日記コンテンツ作成時、修正 %>
      <div>
        <h4>日記</h4>
      </div>
      <div>
        <div>
          <label>件数</label>
        </div>
      </div>
    </div>
    <div>
      <%= link_to "戻る", admin_app_users_path %>
      <%= link_to "削除", admin_app_user_path(@app_user), data: { turbo_method: :delete } %>
    </div>
  </div>
</div>
