<div>
  <div>
    <h2>AppUser show</h2>
  </div>
  <div>

    <div>
      <%= link_to "編集", edit_admin_app_user_path(@app_user) %>
    </div>
    <% if @app_user&.errors.present? %>
      <% errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
    
    <div>
      <%= @app_user.email %>
    </div>
    <div>
      <%= @app_user.nickname %>
    </div>
    <div>
      <div>
        <h4>日記</h4>
      </div>
      <div>
        <div>
          <label>件数</label>
          <p><%= @diaries.size %></p>
        </div>
      </div>
    </div>
    <div>
      <%= link_to "戻る", admin_app_users_path %>
      <%= link_to "削除",
                  admin_app_user_path(@app_user),
                  data: {
                    turbo_method: :delete,
                    turbo_confirm:  "本当にこのユーザーを削除しますか？"
                  }
      %>
    </div>
  </div>
</div>
