<!DOCTYPE html>
<html>
  <head>
    <title>Myproject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <ul>
            <li>
              <%= link_to "dashboards", admin_dashboards_path %>
            </li>
            <li>
              <a href="#">app_users</a>
            </li>
          </ul>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
