<!DOCTYPE html>
<html>
  <head>
    <title>Myproject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
      <div>
        <nav>
          <li>
            <%= link_to "setting", edit_admin_user_registration_path %>
          </li>
          <li>
            <%= link_to "logout", destroy_admin_user_session_path, data: { turbo_method: :delete } %>
          </li>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <ul>
            <li>
              <%= link_to "dashboards", admin_dashboards_path %>
            </li>
            <li>
              <%= link_to "notifications", admin_notifications_path %>
            </li>
            <li>
              <%= link_to "app_users", admin_app_users_path %>
            </li>
          </ul>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
